.first{
    margin:10px 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.nav a{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    text-decoration: none;
    margin-left:55px;
    color:#1F2937;
}
.nav a:hover{
    color:#3882F6;
}
.signup{
    margin-left:45px;
    margin-top:25px;
    padding-top:10px;
    font-size:15px;
    font-family:Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color:white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:#1F2937;
    border: none;
    border-radius:10px;
}
.signup:hover{
    background-color: #3882F6;
    color:#1F2937;
}
button{
    padding:5px 20px;
}

.logo{
    font-size:35px;
    font-weight:bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#3882F6;
}
.bigword{
    background: url('/home/ismail/repos/landingpage2/images/nature3.jpg') no-repeat;
    background-position-y:-305px;
    background-position-x:-250px;
    height:400px;

}
.bigword h1{
    font-size: 50px;
    color:white;
    padding-left:45px;
    padding-top: 15px;
    font-family:Cochin, Georgia, Times, 'Times New Roman', serif;
}
div p{
    color:white;
    font-size:20px;
    margin-top:-10px;
    padding-left:45px;
    font-family:Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    margin-top:50px;
    text-align: center;
    color:#1F2937;
    font-family:Cochin, Georgia, Times, 'Times New Roman', serif;
}
.exhibits{
    display:flex;
    gap:30px;
    padding:0 20px;

}
/**
.exhibits div{
    height:100px;
    border:2px solid #3882F6;
    border-radius: 15px;
    flex:auto;
}**/
div .item{
    width:500px;
}
div .item img{
    width:100%;
    border-radius:10px;
}
.caption{
    margin-top: 10px;
    text-align: center;
    font-family:Cochin, Georgia, Times, 'Times New Roman', serif;

}
section{
    margin-top:63px;
    width:100%;
    height:;
    background-color: #E5E7EB;
}
section p{
    text-align: center;
    font-weight:lighter;
    color:#1F2937;
    padding-top:40px;
    padding-left:90px;
    padding-right:90px;
}
section h4{
    text-align: end;
    padding-right:45px;
    padding-bottom: 40px;
}

.action{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:70%;
    height:140px;
    background-color: #3882F6;
    border-radius: 5px;
    margin:auto;
    margin-bottom:45px;
    margin-top: 35px;
}
.action h4{
    color:white;
}
.action h5{
    color:white;
}

.right a{
    padding:6px 14px;
    text-decoration: none;
    color:white;
    font-size: 15px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border:2px solid white;
    border-radius: 7px;
}
.right a:hover{
    background-color: white;
    color:#1F2937;
}
footer{
    width:100%;
    height:65px;
    background-color: #1F2937;
}
footer p{
    text-align: center;
    color:white;
    padding-top: 20px;
}

